<div class="container__big-card">
    <div class="big-card__picture">
        <img src="https://www.clariontech.com/hubfs/Angular%20Features.png" alt="img placeholder">
    </div>
    <div class="big-card__data" >
        <time>janeiro 09 2022 </time>
    </div>

    <div class="big-card__title">
        <h1>
            Lorem ipsum dolor sit am sed officia recusandae 
        </h1>
    </div>

    <div class="big-card__description">
        <p>
            et consectetur, adipisicing elit. Corrupti amet, illo perferendis ullam eveniet cum sed officia recusandae obcaecati ratione necessitatibus ea corporis atque facere fugit nisi vitae distinctio deserunt.
        </p>
    </div>

</div>
